* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

.page-width {
    max-width: 1600px;
    margin: auto;
    padding: 0 130px;
}

a {
    display: inline-block;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url(../fonts/nunito-sans/NunitoSans-Regular.ttf);
}

@font-face {
    font-family: 'Americana Font';
    src: url(../fonts/americanabt_roman.ttf);
}

body {
    font-family: var(--font-family-primary);
}

:root {
    /* -- font-family -- */
    --font-family-primary: 'Nunito Sans';
    --font-family-secondary: 'Americana Font';

    /* -- font-size -- */
    --heading-font-size: 36px;
    --subheading-font-size: 20px;

    /* -- padding -- */
    --padding-primary: 80px 0;
}

/* -- Reuse css -- */
.color-scheme-1 {
    --color-background: #26A3DB;
    --color-text: #FFFFFF;
    --button-background: #FFFFFF;
    --button-text-color: #000309;
    --button-hover-background: ;
    --button-hover-text-color: ;
}

.color-scheme-2 {
    --color-background: #E9F6FB;
    --color-text: #000309;
    --button-background: #26A3DB;
    --button-text-color: #FFFFFF;
    --button-hover-background: ;
    --button-hover-text-color: ;
}

.color-scheme-3 {
    --color-background: #FFFFFF;
    --color-text: #000309;
    --button-background: #26A3DB;
    --button-text-color: #FFFFFF;
    --button-hover-background: ;
    --button-hover-text-color: ;
}

.heading {
    color: #000309;
    font-size: var(--heading-font-size);
    font-family: var(--font-family-secondary);
    font-weight: 500;
}

.sub-heading {
    color: #000309;
    font-size: var(--subheading-font-size);
    font-family: var(--font-family-secondary);
    font-weight: 500;
    line-height: 35px;
}

.heading-medium {
    font-size: 16px;
    font-family: var(--font-family-primary);
    line-height: 26px;
    font-weight: 400;
}

.heading-small {
    font-family: var(--font-family-primary);
    font-weight: 400;
    font-size: 14px;
    color: #000917;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    align-items: center;
    justify-content: space-between;
}

.grid-col-4-desktop .grid-item {
    width: calc(25% - 30px);
    max-width: calc(25% - 30px);
}

.grid-col-3-desktop .grid-item {
    width: calc(33% - 30px);
    max-width: calc(33% - 30px);
}


.grid-col-2-desktop .grid-item {
    width: calc(50% - 80px);
    max-width: calc(50% - 80px);
}

.grid-col-4-desktop__footer .grid-item {
    width: calc(25% - 90px);
    max-width: calc(25% - 90px);
}

.grid-col-5-desktop .grid-item {
    width: calc(20% - 20px);
    max-width: calc(20% - 20px);
}

.grid-col-6-desktop .grid-item {
    width: calc(16% - 25px);
    max-width: calc(16% - 25px);
}

.primary-button {
    font-family: var(--font-family-primary);
    font-weight: 500;
    font-size: 16px;
    text-transform: capitalize;
    background-color: #26A3DB;
    color: #FFFFFF;
    opacity: 1;
    padding: 13px 36px;
    border-radius: 5px;
    transition: 0.3s;
}

.secondary-button {
    font-family: var(--font-family-primary);
    color: #000309;
    border-bottom: 1px solid #000309;
    font-weight: 500;
    font-size: 16px;
    text-transform: capitalize;
    transition: 0.3s;
}

.primary-button:hover {
    background: #E9F6FB;
    color: #000;
    box-shadow: 1px 1px 10px 1px;
}

.secondary-button:hover {
    color: red;
    border-bottom: 1px solid red;
}

.tertiary-button {
    font-family: var(--font-family-primary);
    background-color: var(--button-background);
    color: var(--button-text-color);
    font-weight: 500;
    font-size: 16px;
    text-transform: capitalize;
    opacity: 1;
    border-radius: 5px;
    padding: 13px 36px;
}


.gradient {
    color: var(--color-text);
    background: var(--color-background);
}

/* -- Announcement - Bar -- */
.announcement-bar-inner {
    padding: 10px 130px;
    text-align: center;
}

/* -- Header -- */
header {
    position: absolute;
    top: 80px;
    margin: auto;
    transform: translateY(-50%);
    z-index: 5;
    width: 100%;
    padding: 15px 0px;
}

.navigation-links ul {
    display: flex;
    gap: 20px;
    align-items: center;
}

.navigation-icons {
    display: flex;
    gap: 20px;
    justify-content: end;
}

.header-inner {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

.hamburger {
    display: none;
    color: white;
    font-size: x-large;
}

.navigation-links a {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 14px;
}

/* -- Banner-section -- */
.banner-wrapper-inner {
    position: relative;
    color: #FFFFFF;
}

.banner-text-wrapper h2,
.banner-text-wrapper-content h2 {
    color: #FFFFFF;
}

.banner-text-wrapper {
    display: flex;
    max-width: 420px;
    flex-direction: column;
    gap: 30px;
    position: absolute;
    top: 30%;
}

.banner-text-wrapper-content {
    display: flex;
    max-width: 625px;
    flex-direction: column;
    gap: 30px;
    position: absolute;
    top: 30%;
}

.banner-text-wrapper-content h2 {
    max-width: 480px;
}

.banner-media {
    display: flex;
}

.banner-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* -- Icon-with-text -- */
.icon-with-text-wrapper {
    padding: 20px 0;
}

.icon-media {
    max-width: 50px;
}

.icon {
    max-width: 30px;
}

.icon-with-text li {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.icon-with-text h3 {
    font-family: var(--font-family-secondary);
    font-weight: 500;
    font-size: 18px;
    color: var(--color-text);
}

/* -- Collection-list -- */
.collection-list-wrapper {
    padding: var(--padding-primary);
}

.collection-list-inner {
    display: flex;
    gap: 40px;
    flex-direction: column;
}

.collection-list-heading {
    text-align: center;
}

.collection-list-products-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.collection-list-products-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    background-color: #F9F9F9;
    border-radius: 5px;
    padding-bottom: 20px;
}

/* -- Featured-collection -- */
.featured-collection-heading {
    text-align: center;
}

.featured-collection-wrapper {
    padding: var(--padding-primary);
}

.featured-collection {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.featured-collection-heading {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.featured-collection-inner-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.featured-collection-media {
    position: relative;
    width: 100%;
    transition: 0.3s;
}

.media {
    width: 100%;
}

.heading-with-slider-sign {
    position: relative;
    width: 30%;
    margin: auto;
}

.quick-buy-button {
    position: absolute;
    left: 25%;
    z-index: -1;
    bottom: 3%;
    font-family: var(--font-family-primary);
    font-weight: 500;
    font-size: 16px;
    text-transform: capitalize;
    background-color: transparent;
    color: #000;
    opacity: 1;
    padding: 13px 40px;
    border: 1px solid gray;
    border-radius: 5px;
}

.featured-collection-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.featured-collection-price {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* -- Image-with-text -- */
.image-with-text {
    padding: var(--padding-primary);
}

.image-with-text-inner {
    display: flex;
    align-items: center;
}

.image-with-text-media {
    position: relative;
}

.image-with-text-media-first {
    position: absolute;
    left: 274px;
}

.image-with-text-media-second {
    position: relative;
    padding-bottom: 35px;
    top: 42px;
}

.bookmark {
    display: flex;
    gap: 10px;
}

.trusted-product {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.image-with-text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* -- Rich-text -- */
.rich-text {
    padding: var(--padding-primary);
}

.rich-text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.rich-text-content {
    max-width: 910px;
}

/* -- Scrolling-with-image -- */
.scrolling-with-image {
    padding: var(--padding-primary);
}

.scrolling-with-image-wrapper {
    display: flex;
    gap: 60px;
}

.scrolling-image-media-wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 50%;
}

.scrolling-image-text-inner {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: sticky;
    top: 15%;
    padding-bottom: 50%;
}

.scrolling-image-text-wrapper {
    transform: translateY(5%);
    width: 40%;
}

/* Image-with-text-section2 */
.image-with-text2 {
    padding: var(--padding-primary);
}

.text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.image-with-text-content {
    max-width: 630px;
}

.image-with-text-heading {
    max-width: 500px;
}

/* -- Review-section -- */
.review-section {
    padding: var(--padding-primary);
}

.review-content h4 {
    font-family: var(--font-family-secondary);
    font-weight: 500;
    font-size: 20px;
    line-height: 35px;
    color: #000309;
    max-width: 570px;
}

.review-star {
    display: flex;
    gap: 5px;
}

.customer-name {
    font-weight: 400;
    font-size: 14px;
    color: #000309;
}

.customer-name span,
.featured-collection-price span,
.blog-date {
    opacity: 0.5;
}

.customer-review {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.left-right-sign {
    display: flex;
    gap: 40px;
}

.review-media-content span {
    border-bottom: 1px solid #000917;
}

/* -- Blog-section -- */
.blog-section {
    padding: var(--padding-primary);
}

.blog-heading {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.blog-wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.blog-content-heading h3 {
    font-family: var(--font-family-secondary);
    font-weight: 500;
    font-size: 18px;
}

.blog-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.blog-wrapper-inner {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* -- Insta-feed -- */
.insta-feed {
    padding: var(--padding-primary);
}

.insta-feed-heading {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.blue-heading {
    color: #26A3DB;
    text-transform: uppercase;
    font-weight: bold;
}

.insta-feed-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

/* -- Contact-us -- */
.contact-us {
    padding: var(--padding-primary);
    text-align: center;
}

.contact-us-content {
    max-width: 875px;
}

.contact-us-inner {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.contact-us-heading h2,
.insta-feed-heading h2,
.rich-text-content h3 {
    font-family: var(--font-family-secondary);
    font-weight: 500;
    font-size: 28px;
}

/* -- Footer -- */
footer {
    padding: var(--padding-primary);
}

.social-media {
    display: flex;
    gap: 20px;
}

.footer-inner {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.information-inner {
    display: flex;
    gap: 10px;
}

.information,
.footer-links,
.newsletter,
.payment-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mail {
    border-radius: 5px;
    color: #FFFFFF;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    outline: none;
    padding: 13px 15px;
}

.mail::placeholder {
    color: #FFFFFF;
}

.subscribe-button {
    margin-top: 10px;
}

.footer-heading h3 {
    font-family: var(--font-family-secondary);
    font-weight: 500;
    font-size: 18px;
}

.footer-links a {
    color: #FFFFFF;
}

.information-inner a {
    color: #FFFFFF;
}

.copyright-wrapper {
    padding: 40px 0;
    border-top: 1px solid #D2D5D9;
}

.copyright-wrapper a,
.copyright-wrapper p {
    color: #FFFFFF;
}

select {
    padding: 10px;
    background-color: transparent;
    color: #FFFFFF;
    outline: none;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
}

option {
    color: #000309;
}

.country-select {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.copyright-inner {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: space-between;
}

.payment-method {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.policies {
    display: flex;
    gap: 20px;
}

.featured-collection-inner-flex:hover .quick-buy-button {
    z-index: 1;
}